@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Black+Ops+One&family=Dokdo&family=Rubik&family=Rubik+Wet+Paint&family=Yanone+Kaffeesatz&display=swap');

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: red;
}

/* ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
} */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
   
  }
  body{
    font-family: 'Asap Condensed', sans-serif;
    /* background-image: linear-gradient(rgba(255, 112, 112, 0.598),rgb(138, 138, 138)); */
    /* cursor:grab; */
    
  }
  nav{
    /* background: rgb(255, 255, 255); */
    height: 80px;
    width: 100%;
    overflow: hidden;
  }
  .logo{
    
    /* font-size: 35px;*/
    /* line-height: 50px; */
    /* padding: 0 100px 0 0; */
    margin-left: 100px;
    font-weight: bold;
  }
  .logo{
    height: auto;
    position: relative;
    top: 20px;
    left: -40px;
    width: 100px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    list-style: none;
  }
  nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  nav ul li button{
    border: none;
    background-color: transparent;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  nav ul li a:hover {
    background-color: black;
    color: white;
  }
  a.active,a:hover{
    background: red;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    ul {
        z-index: 1000;
    }
    .checkbtn{
      display: block;
      color: black;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: red;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: white;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }

/*------------Main Body Style----------------*/
.mainbody h1{
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    font-size: 50px;
    /* text-decoration: underline; */
    color: #ED1C24;
    font-family:"black ops one";
}
.heading{
    padding: 10px 0;
    font-weight: 900;
    font-size: 20px;
}
ul{
    list-style-type: disc;
}


.why_spie,.what,.future{
    margin: 2.5%;
    text-align: justify;
    width: 95%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px red;
    line-height: 20px;
}
.division{
    width: 95%;
    margin: 100px 2.5% 0px 2.5%;
    height: 1px;
    border: solid red;
}
.Contact_US{
    margin: 2.5%;
    text-align: justify;
    width: 95%;
    /* border: 2px solid black; */
    border-radius: 10px;
    /* padding: 20px; */
    /* box-shadow: 5px 5px red; */
    line-height: 20px;
}
.Contact_US .heading{
    font-size: 30px;
}
.contact-form{
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
.contact-form input{
  width: 95%;
  padding: 10px;
}
/*----------footer----------------*/
footer{
    margin: 10px 0;
    text-align: center;
    /* position: relative;
    bottom: 5px; */
    padding-top: 30px;
}
footer span{
    color: red;
}

.share_1 svg{
  color: black;
  /* margin: 3px; */
  /* padding: 3px; */
  margin:3px 3px -1.5px 3px;
}
.share_1 a.active,a:hover{
  color: transparent;
  transition: .5s;
}

section {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  transform: translateY(-50%);
  z-index: -1;
}

:root {
  --main-bg-color: #fff;
  --main-text-color: #000;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode nav {
  background-color: #333;
}
.dark-mode nav ul li a {
  color: #fff;
}
.dark-mode nav ul li button {
  color: #fff;
}
.dark-mode .contact-form label{
  color: white;
}

.dark-mode .what,
.dark-mode .why_spie,
.dark-mode .future {
  border: 2px solid #ddd;
}

.dark-mode .contact-form {
  background-color: #444;
  color: #fff;
  border: #ddd;
}

.dark-mode .contact-form input,
.dark-mode .contact-form textarea {
  /* background-color: #444; */
  color: #fff;
  border-color: #ddd;
}

.dark-mode .share_1 svg{
  color: white;
}

/* Light mode styles */
.light-mode {
  background-color: #fff;
  color: #000;
}

.light-mode nav {
  background-color: #fff;
}

.light-mode .logo img {
  src: url(/SPIE_WEBSITE/icons/logo-light.png);
}

.dark-mode .logo img {
  src: url(/SPIE_WEBSITE/icons/logo-light.png);
}

.light-mode .what,
.light-mode .why_spie,
.light-mode .future {
  border: 2px solid #000;
}

.light-mode .contact-form {
  background-color: #fff;
  color: #000;
}

.light-mode .contact-form input,
.light-mode .contact-form textarea {
  background-color: #fff;
  color: #000;
  border-color: #000;
}


/*--------contact-form-issue-------------------*/
